<div class="modal-header">
  <h4 class="modal-title">Editar producto</h4>
  <button type="button" class="modal-close" aria-label="Close" (click)="closeModal('Botón cerrar')">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">

    <div class="form-group" [ngClass]="{ 'is-invalid': submitted && f.productType.errors }">
      <label for="productType">Tipo de producto</label>
      <select class="form-control" id="productType" formControlName="productType">
        <option disabled selected value> -- selecciona una opci&oacute;n -- </option>
        <option *ngFor='let pt of productTypes ; let i = index' [value]="pt.id">{{pt.name}}</option>
      </select>
    </div>

    <div class="input-together">
      <div class="form-group" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
        <label for="stock">Cantidad</label>
        <input type="number" class="form-control" formControlName="stock"
               id="stock"  placeholder="Escribe la cantidad">
      </div>

      <div class="form-group" [ngClass]="{ 'is-invalid': submitted && f.quantityType.errors }">
        <label for="quantityType">Tipo de cantidad</label>
        <select class="form-control" id="quantityType" formControlName="quantityType">
          <option disabled selected value> -- selecciona una opci&oacute;n -- </option>
          <option *ngFor='let qt of quantityTypes ; let i = index' [value]="qt.id">{{qt.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <label for="price">Precio</label>
      <input type="number" class="form-control" formControlName="price"
             id="price" aria-describedby="firstNameHelp" placeholder="Escribe el precio">
      <small id="priceHelp" class="helper form-text text-muted">Escribe el precio en pesos colombianos</small>
    </div>

    <div class="form-group" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      <label for="description">Descripci&oacute;n</label>
      <textarea type="text" class="form-control text-area" formControlName="description"
                id="description"  placeholder="Escribe la descripci&oacute;n" maxlength="200">
    </textarea>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="app-btn cancel" (click)="closeModal('click en cerrar')">Cancelar</button>
  <button type="button" class="app-btn cancel" (click)="onSubmit()">Editar producto</button>
</div>
