@import "../../../styling/mixins";
@import "../../../styling/screen-variables";
@import "../../../styling/color-variables";

.products-list-container{
  padding: 40px 10px;
}

.product-container{
  @include flexbox;
  @include flex-wrap(wrap);
  width: 100%;
}

.product-card{
  width: 33%;
  margin-left: 0.3%;
  padding: 5px;
  margin-bottom: 10px;
}

.product-name{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.product-description{
  font-size: 12px;
  height: 92px;
  font-weight: 100;
}

.card-body{
  font-size: 14px;
}

.add-to-cart{
  margin-top: 15px;
  background-color: $brand-color;
  color: $white;
}

.product-price{
  font-weight: bold;
}

.product-type{
  font-style: italic;
}

app-product-image{
  height: 260px;
  width: auto;
}

app-product-image{
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.no-products{
  text-align: center;
  width: 100%;
}
