<div class="products-list-container">
  <div class="product-container" *ngIf="isThereProducts(); else noProducts">
    <div *ngFor='let p of products ; let i = index' class="card product-card pricingTable green">
      <app-product-image [productType]="p?.productType"></app-product-image>
      <div class="card-body">
        <div class="product-name">{{p?.productType?.name}}</div>
        <div class="product-description">{{p?.description}}</div>
        <hr>
        <div>
          <span class="product-price">{{getPriceByQtyType(p) | currency:'COP'}}</span>
          <span class="product-type">&nbsp;por {{p?.quantityType?.name}}</span>
        </div>
        <a class="btn add-to-cart" (click)="showAddToCartModal(p?.id)">Agregar al carrito</a>
      </div>
    </div>
  </div>

  <ng-template #noProducts>
    <h1 class="no-products">No hay productos</h1>
  </ng-template>
</div>
