<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap space-between">

      <a class="logo d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="https://us.123rf.com/450wm/designeran/designeran1605/designeran160500118/56622411-logotipo-del-tractor-respetuoso-del-medio-ambiente-.jpg?ver=6" />
      </a>

      <div class="text-end">
        <a type="button" class="btn btn-outline-light me-2">Entrar</a>
        <a type="button" (click)="openRegisterForm()" class="btn btn-warning">Registrar</a>
      </div>

    </div>
  </div>
</header>
