@import "../../../styling/mixins";

.is-invalid{
  color: red;
}

.product-form{
  padding: 30px 60px;
}

.form-group{
  margin-top: 10px;
}

.centered{
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.app-btn{
  margin-top: 20px;
  padding: 15px;
}

.text-area{
  min-height: 100px;
}

.input-together{
  @include flexbox;
  @include flex-wrap(no-wrap);
  @include justify-content(space-between);
  width: 100%;
  .form-group{
    min-width: 47%;
    max-width: 50%;
  }
}
