<div class="minicart-container" [ngClass]="{ 'expanded': expanded }">
  <div class="cart-header">
    <div class="title">Mini carrito</div>
    <button type="button" class="modal-close" aria-label="Close" (click)="closeMiniCart()">
    </button>
  </div>


  <div class="cart-items" *ngIf="areThereProductsInCart(); else noItems">
    <div *ngFor='let p of cart?.products ; let i = index'>
      <div>{{p.product?.productType?.name}}</div>
      <div>{{p.quantity}}</div>
    </div>
  </div>
</div>


<ng-template #noItems>
  <div class="no-items">
    <h5>No hay items en el carrito a&uacute;n</h5>
  </div>
</ng-template>
