<div class="minicart-container" [ngClass]="{ 'expanded': expanded }">
  <div class="minicart-inner">
    <div class="cart-header">
      <div class="title">Mini carrito</div>
      <button type="button" class="modal-close" aria-label="Close" (click)="closeMiniCart()">
      </button>
    </div>


    <div class="cart-items" *ngIf="areThereProductsInCart(); else noItems">

      <div class="cart-overview">
        <div class="total-items">
          <span class="title">Productos:&nbsp;</span>
          <span class="value">{{cart?.products?.length}}</span>
        </div>
        <div class="cart-total-price">
          <span class="title">TOTAL:&nbsp;</span>
          <span class="value">{{getTotalInCart() | currency:'COP'}}</span>
        </div>
      </div>

      <div class="cart-item" *ngFor='let p of cart?.products ; let i = index'>
        <div class="item-start">
          <div class="product-name">{{p.product?.productType?.name}}</div>
          <div class="product-qty">{{p.quantity}}&nbsp;{{p?.product?.quantityType?.name}}</div>
          <div class="total-product-in-cart">{{getTotalProductInCart(p) | currency:'COP'}}</div>
          <div class="remove-product-container">
            <button class="btn btn-warning" (click)="removeProductFromCart(cart?.id, p?.id)">Eliminar producto</button>
          </div>
        </div>
        <div class="item-end">
          <app-product-image [productType]="p?.product?.productType"></app-product-image>
        </div>
      </div>
    </div>

    <div class="cart-footer" *ngIf="areThereProductsInCart()">
      <button class="go-to-checkout btn" (click)="goToCartOverview()">Finalizar compra</button>
    </div>
  </div>
</div>

<div class="mini-cart-overlay" *ngIf="expanded" (click)="closeMiniCart()"></div>


<ng-template #noItems>
  <div class="no-items">
    <h5>No hay items en el carrito a&uacute;n</h5>
  </div>
</ng-template>
