@import "shared";

.app-input{
  border: 0.5px solid $border-1-opacity;
  border-radius: 13px;
  opacity: 1;
  padding: 5px 5px 5px 10px;
  width: 280px;
  height: 35px;
  @media (min-width: $desktop-extra-large) {
    width: 459px;
    height: 48px;
    padding: 5px 5px 5px 15px;
  }
  @include centered;
  .input-group-prepend{
    @include centered;
    height: 100%;
    margin: 0;
    cursor: pointer;
    max-width: 15px;
    svg{
      width: 15px;
      height: 15px;
      .a{
        opacity:0.6;
      }
    }
    @media (min-width: $desktop-extra-large) {
      max-width: 20px;
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }

  .floating-label-group{
    width: calc(100% - 20px);
    @media (min-width: $desktop-extra-large) {
      margin-left: 10px;
      width: calc(100% - 40px);
    }
    .form-control{
      width: 100%;
    }
  }

  .form-control{
    margin-left: 5px;
    border: none;
    opacity: 1;
    height: 24px;
    width: auto;
    padding: 0 5px;

    &:focus{
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &.is-invalid{
    border: 0.5px solid $border-error;
  }
}


// Floating label

.floating-label-group {
  position: relative;
  width: 100%;
  .floating-label {
    @include nunito-bold;
    font-size: 13px;
    color: $font-color-1;
    position: absolute;
    pointer-events: none;
    top: 2px;
    left: 15px;
    transition: all 0.2s ease;
    @media (min-width: $desktop-extra-large) {
      font-size: 20px;
      top: -4px;
    }
  }

  input{
    font-size: 12px;
    @media (min-width: $desktop-extra-large) {
      font-size: 20px;
    }
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 0;
    left: 0;
    font-size: 11px;
    height: 20px;
    opacity: 1;
    color: $focus-font-label;
    background-color: $white;
    z-index: 1;
    padding: 0 10px;
    @media (min-width: $desktop-extra-large) {
      top: -22px;
      font-size: 14px;
    }
  }
}
