$desktop-extra-mobile: 320px;
$desktop-extra-tablet: 740px;
$desktop-extra-desktop: 1480px;
$desktop-extra-large: 1920px;

// home-layout variables
$sidebar: 75px;
$sidebar-open : 150px;
// [TODO] - Change this later according with designs
$sidebar-extra-large: 130px;
$sidebar-extra-large-open : 260px;

$margin-against-sidebar: 20px;
