<div class="my-products-container">
  <div class="product-container">
    <div *ngFor='let p of products ; let i = index' class="card product-card">
      <img class="card-img-top" src="https://saborusa.com.pa/imagesmg/imagenes/5ff3e6a0b703f_potatoes-food-supermarket-agriculture-JG7QGNY.jpg" alt="producto">
      <div class="card-body">
        <div>{{p?.productType?.name}}</div>
        <div>{{p?.price}}</div>
        <div>{{p?.stock?.remainingQuantity}}</div>
        <div>{{p?.quantityType?.name}}</div>
        <div>{{p?.description}}</div>
      </div>
    </div>
  </div>
</div>
