<div class="products-list-container" *ngIf="areThereProducts(); else noProducts">
  <div class="product-container">
    <div *ngFor='let p of products ; let i = index' class="card product-card pricingTable green" [ngClass]="{'sold': isSold(p)}">
      <div class="badge success">Vendido</div>
      <app-product-image [productType]="p?.productType"></app-product-image>
      <div class="card-body">
        <div class="product-name">{{p?.productType?.name}}</div>
        <div class="remaining-qty">
          {{p?.stock?.remainingQuantity}}&nbsp;{{p?.quantityType?.name}}&nbsp;restantes
        </div>
        <div class="product-description">{{p?.description}}</div>
        <hr>
        <div>
          <span class="product-price">{{getPriceByQtyType(p) | currency:'COP'}}</span>
          <span class="product-type">&nbsp;por {{p?.quantityType?.name}}</span>
        </div>
        <a class="btn add-to-cart" (click)="showEditProductModal(p?.id)">Editar</a>
        <a class="btn add-to-cart remove" (click)="removeProduct(p?.id)">Remover</a>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="no-products">
    <h1>No tienes productos</h1>
  </div>
</ng-template>
