@import "../../../styling/mixins";

.my-products-container{
 padding: 40px 10px;
}

.product-container{
  @include flexbox;
  @include flex-wrap(wrap);
  width: 100%;
}

.product-card{
  width: 33.3%;
  padding: 5px;
}
