@import "src/styling/modal-styles";

.product-name{
  text-transform: capitalize;
  font-weight: 600;
}

.product-description{
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.product-price{

}



