@import "src/styling/mixins";
@import "src/styling/color-variables";
@import "/src/styling/buttons";

.cart-confirmation-container{
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  margin: 30px 60px;
}

.overview{
  text-align: center;
}

p{
  margin-top: 20px;
  font-size: 16px;
}

.go-to-checkout{
  margin-top: 20px;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  background-color: $brand-color;
  color: $white;
  max-width: 300px;
}
